extends components/base.pug

block body
    include components/header.pug
    section.container.grid-960
        each article in list
            .columns
                .column
                    h3 #{article.title}
                    summary #{article.modified}
                    p #{article.text}

block script
