section.container.grid-960
    .columns
        .column
            h1 Someone's Blog
    .columns
        .column
            ul.tab
                li.tab-item.active
                    a(href="#") Home
                li.tab-item
                    a(href="#") tweet
